<!doctype html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
    <head>
		<title>ed_profile</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Food and Restorent One page Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png'%}">

        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css'%}">
        <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="{% static 'assets/css/animate/animate.css'%}" />
        <link rel="stylesheet" href="{% static 'assets/css/plugins.css'%}" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css'%}" />

        <script src="{% static 'assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js'%}"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1'%}">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/prof.css'%}">
   
    
    
   
<!--===============================================================================================-->



</head>
<body class="slider" >
    
{% for d in l_det %}
{% for a in r_det %}
{% if email == d.email%}
{% if a.uid  == d.uid2 %}
<div style="background-color:rgba(0, 0, 0, 0.486)">

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header id="home" class="navbar-fixed-top" style="text-align:right;">
            <div class="header_top_menu clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-3 col-sm-12 text-right">
                            <div class="call_us_text">
								<!--<a href=""><i class="fa fa-clock-o"></i> Order Foods 24/7</a>
								<a href=""><i class="fa fa-phone"></i>061 9876 5432</a>-->
                                <marquee>You are at the home of the best <b>pies..</b></marquee>
							</div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- End navbar-collapse-->

            <div class="main_menu_bg" >
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand our_logo" href="#"><img src="{% static ''%}" alt="" /></a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >

                                    <ul class="nav navbar-nav navbar-right" >
                                        <style>

                                            </style><center>
                                                <div class="container1">
                                            <a  class="booking" href="#">{{a.first_name}} > </a>
                                            
                                            <ul>
                                                    <li><a class="booking" href="/user1/">home</a></li>
                                                    <li><hr></li>
                                                    <li><a class="booking" href="/profile/">Profile</a></li>
                                                    <li><hr></li>
                                                    <li><a class="booking" href="#">Orders</a></li>
                                                    <li><hr></li>
                                                    <li><a class="booking" href="/e_profile/{{a.uid}}">Edit Profile</a></li>
                                                    <li><hr></li>
                                                    
                                                    <li><a class="booking" href="/logout/">Logout</a></li>
                                                </center>
                                                </ul>
                                            </div>


                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>

<section id="slider" class="slider">
<div style="background-color:rgba(0, 0, 0, 0.498);">

   <br><br><br>
   <form action="" method="POST">
    {% csrf_token %}
<div class="container2">


<div class="card1"> <div class="info1">


    <span>Edit form</span>
    <button class="button1"  onclick="window.location.href = '/e_profile/{{a.uid}}/';">save</button> </div> <div class="forms1"> <div class="inputs1"><br>


         <span>First Name : </span> <input type="text"  value="{{a.first_name}}" name="f_name" id="fname"> </div><hr>
         <div class="inputs1">
             <span>Last Name : </span> <input type="text"  value="{{a.last_name}}" name="l_name" id="l_name" > </div> <hr><div class="inputs1">
                 <div class="inputs1"> <span>Mobile : </span> <input type="text"  value="{{a.mobile}}" name="mobile" id="mob" > </div><hr>
                 <div class="inputs1"> <span>Department : </span> <select name="depart" >
                    <option  selected value="MCA"><small>{{a.depart}} </small></option>
                            {% for a in d_det %}
							<option value ='{{a.depart}}'><small><font color="black">{{a.depart}}</font> </small>

                             {% endfor %}
							<hr>
</div></div></select>

    </div> </div>
   </div>
    </form>
       </div>
        </section>
<div id="dropDownSelect1"></div>
<!--Footer-->
        <footer id="footer" class="footer" >
            <div class="container text-center" >
                <div class="row">
                    <div class="col-sm-12">
                        <div class="copyright wow zoomIn" data-wow-duration="3s">
							<p>Made with <i class="fa fa-heart"></i> by Amal Jyothi College of engineering ,Kanjirappallly</p>
						</div>
                    </div>
                </div>
            </div>
        </footer>

		<div class="scrollup">
			<a href="#"><i class="fa fa-chevron-up"></i></a>
		</div>

        {% endif %}
        {% endif %}
    {% endfor %}

        {% endfor %}





<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script></div>




        <script src="{% static 'assets/js/vendor/jquery-1.11.2.min.js'%}"></script>
        <script src="{% static 'assets/js/vendor/bootstrap.min.js'%}"></script>

        <script src="{% static 'assets/js/jquery-easing/jquery.easing.1.3.js'%}"></script>
        <script src="{% static 'assets/js/wow/wow.min.js'%}"></script>
        <script src="{% static 'assets/js/plugins.js'%}"></script>
        <script src="{% static 'assets/js/main.js'%}"></script>
    </body>
</html>