<!doctype html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png'%}">

        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css'%}">
        <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="{% static 'assets/css/animate/animate.css'%}" />
        <link rel="stylesheet" href="{% static 'assets/css/plugins.css'%}" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css'%}" />

        <script src="{% static 'assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js'%}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <header id="home" class="navbar-fixed-top">
            <div class="header_top_menu clearfix">	
                <div class="container">
                    <div class="row">	
                        <div class="col-md-5 col-md-offset-3 col-sm-12 text-right">
                            <div style="position:absolute;top:130px;left:380px;background:rgba(255, 255, 255, 0.603);">
			{% for msg in messages %}
			<p>{{ msg}}</p>
			{% endfor %}
		</div>
                        </div>

                    </div>			
                </div>
            </div>

            <!-- End navbar-collapse-->

            <div class="main_menu_bg">
                <div class="container"> 
                    <div class="row">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand our_logo" href="#"><img src="{% static ''%}" alt="" /></a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="#slider">Home</a></li>
                                        <li><a href="#abouts">About us </a></li>
                                        <li><a href="/login/">Login</a></li>
                                        <li><a href="/student/" class="booking">Register</a></li>
                                        
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>
            </div>	
        </header> <!-- End Header Section -->

        <section id="slider" class="slider" >
            <div class="slider_overlay">
                <div class="container">
                    <div class="row">
                        <div class="main_slider text-center">
                            <div class="col-md-12">
                                <div class="main_slider_content wow zoomIn" data-wow-duration="1s">
                                    <h1>Are U Hungry ?</h1>
                                    <h4><i>"We will give you an eating experience that you will never forgot"</i> </h4>
                                    <!-- <button href="" class="btn-lg">Click here</button>-->
                                </div>
                            </div>	
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="abouts" class="abouts">
            <div class="container">
                <div class="row">
                    <div class="abouts_content">
                        <div class="col-md-6">
                            <div class="single_abouts_text text-center wow slideInLeft" data-wow-duration="1s">
                                <img src="{% static 'assets/images/ab.png'%}" alt="" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="single_abouts_text wow slideInRight" data-wow-duration="1s">
                                <h4>About us</h4>
                                <h3>WE ARE TASTY</h3>
                                <p>This is the canteen working inside the Amal Jyothi College of Engineering, Kanjirappally.</p>

                                <p>We are here to serve you the delecious food . We have different varieties of food items include meals, shakes, bakery items etc etc </p>
                                <h4>WELCOME</h4>

                               <!--<a href="" class="btn btn-primary">click here</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <!--Footer-->
        <footer id="footer" class="footer">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="copyright wow zoomIn" data-wow-duration="3s">
							<p>Made with <i class="fa fa-heart"></i> by Amal Jyothi College of engineering ,Kanjirappallly</p>
						</div>
                    </div>
                </div>
            </div>
        </footer>
		
		<div class="scrollup">
			<a href="#"><i class="fa fa-chevron-up"></i></a>
		</div>


        <script src="{% static 'assets/js/vendor/jquery-1.11.2.min.js'%}"></script>
        <script src="{% static 'assets/js/vendor/bootstrap.min.js'%}"></script>

        <script src="{% static 'assets/js/jquery-easing/jquery.easing.1.3.js'%}"></script>
        <script src="{% static 'assets/js/wow/wow.min.js'%}"></script>
        <script src="{% static 'assets/js/plugins.js'%}"></script>
        <script src="{% static 'assets/js/main.js'%}"></script>
    </body>
</html>
