<!doctype html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
    <head>
		<title>registration</title>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Food and Restorent One page Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png'%}">

        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css'%}">
        <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="{% static 'assets/css/animate/animate.css'%}" />
        <link rel="stylesheet" href="{% static 'assets/css/plugins.css'%}" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css'%}" />

        <script src="{% static 'assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js'%}"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1'%}">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
<!--===============================================================================================-->
<style>
    select.mySelect{

        background: #cbcb0c00;
        color: rgba(255, 255, 255, 0.776);
        padding: 0 10px;
        font-size: 12px;
		width:200px;
    }
    select.mySelect option{
        color: #000;
        padding: 0 10px;
    }

    </style>
	<script  lang="javascript">
function vForm(){
    var fn = document.getElementById("fn").value ;
    var ln = document.getElementById("ln").value ;
  	var num = document.getElementById("mob").value ;
  	var pass = document.getElementById("pass").value ;
  	var cpass = document.getElementById("cpass").value ;
     var str=/[a-zA-Z]/;
     if ( str.test(fn)==false || str.test(ln)==false)
     {
        alert("Name must be alphabets")
        return false;
       }
     if ( isNaN(num)){
            alert("mobile number must be a number");
            return false;
        }
     if ( pass != cpass){
            alert("passwords not match");
            return false;
        }

     return true;
   }
</script>
	</head>
<body class="slider" >
<div style="background-color:rgba(0, 0, 0, 0.486)">

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header id="home" class="navbar-fixed-top" style="text-align:right;">
            <div class="header_top_menu clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-3 col-sm-12 text-right">
                            <div class="call_us_text">
								<!--<a href=""><i class="fa fa-clock-o"></i> Order Foods 24/7</a>
								<a href=""><i class="fa fa-phone"></i>061 9876 5432</a>-->
                                <marquee>You are at the home of the best <b>pies..</b></marquee>
							</div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- End navbar-collapse-->

            <div class="main_menu_bg" >
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand our_logo" href="#"><img src="{% static ''%}" alt="" /></a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >

                                    <ul class="nav navbar-nav navbar-right" >
                                        <li><a href="/home/" class="booking">Home</a></li>


                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>

		<section style="">
			<div class="limiter"  >
		<!--<div class="container-login100"  >-->

			<br><hr><br><br><br>



<div class="limiter">
		<!--<div class="container-login100"  >-->
			<div class="wrap-login100" style=";height:400px;margin-left:20px;">
				 <div >
			{% for msg in messages %}
			<p><font color="red">{{ msg}}</p>
			{% endfor %}</font>
		</div>
				<form class="login100-form validate-form" action="" method="POST" onsubmit="return vForm()">
					{% csrf_token %}


					<span class="login100-form-title p-b-34 p-t-27">
						Register here
					</span>

                    <div class="wrap-input100 validate-input" data-validate = "Enter your id">
						<input class="input100" type="text" name="uid" placeholder="ID">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>


					<div class="wrap-input100 validate-input" data-validate = "Enter first name">
						<input class="input100" type="text" name="f_name" placeholder="First name" id="fn">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Enter Last name">
						<input class="input100" type="text" name="l_name" placeholder="Last name" id="ln">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Enter mobile number">
						<input class="input100" type="text" name="m_number" placeholder="mobile number" maxlength="10" minlength="10" id="mob">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

                    <div>
                       <small><font color="white">DEPARTMENT : &nbsp</font></small>
						<select name="depart" class="mySelect">
							<option  selected value="null"><small>select  department</small></option>
							{% for a in d_det %}
							<option value ='{{a.depart}}'><small><font color="black">{{a.depart}}</font> </small>

                             {% endfor %}




						</select>
                    </div><br>


					<div class="wrap-input100 validate-input" data-validate = "Enter email">
						<input class="input100" type="text" name="email" placeholder="email">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Enter password">
						<input class="input100" type="password" name="password" placeholder="password" id="pass">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>


					<div class="wrap-input100 validate-input" data-validate="Enter password again">
						<input class="input100" type="password" name="pass" placeholder="Confirm Password" id="cpass">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

				

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							submit
						</button>
					</div>
					<div >
				<font color="white"> <small>Already have an account ? <a href="/login/" >click here</a><br>

			         </div>
				</form>
			</div>
		</div>
	</div>
		</section><br>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

<!--Footer-->
        <footer id="footer" class="footer" style="top-margin:30px">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="copyright wow zoomIn" data-wow-duration="3s">
							<p>Made with <i class="fa fa-heart"></i> by Amal Jyothi College of engineering ,Kanjirappallly</p>
						</div>
                    </div>
                </div>
            </div>
        </footer>

		<div class="scrollup">
			<a href="#"><i class="fa fa-chevron-up"></i></a>
		</div>


        <script src="{% static 'assets/js/vendor/jquery-1.11.2.min.js'%}"></script>
        <script src="{% static 'assets/js/vendor/bootstrap.min.js'%}"></script>

        <script src="{% static 'assets/js/jquery-easing/jquery.easing.1.3.js'%}"></script>
        <script src="{% static 'assets/js/wow/wow.min.js'%}"></script>
        <script src="{% static 'assets/js/plugins.js'%}"></script>
        <script src="{% static 'assets/js/main.js'%}"></script>
    </body>
</html>