<!doctype html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
    <head>
		<title>user</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Food and Restorent One page Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png'%}">

        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css'%}">
        <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="{% static 'assets/css/animate/animate.css'%}" />
        <link rel="stylesheet" href="{% static 'assets/css/plugins.css'%}" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css'%}" />

        <script src="{% static 'assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js'%}"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1'%}">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
<!--===============================================================================================-->

<style>
     .container1{
                                                    display: block;
                                                    height: 38px;
                                                    overflow: hidden;
                                                    width: 100px;
                                                background: rgba(3, 3, 3, 0.532);
                                                font-size:23px;
                                            }

                                            .container1:hover{
                                            overflow:visible;
                                                height: 100%;
                                                width: 100%;
                                                background: rgba(23, 22, 22, 0.879);
                                            }

                                            .main ul li{
                                                display:none;
                                            }

    </style>

</head>
<body class="slider" >
    

<div style="background-color:rgba(0, 0, 0, 0.486)">

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header id="home" class="navbar-fixed-top" style="text-align:right;">
            <div class="header_top_menu clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-3 col-sm-12 text-right">
                            <div class="call_us_text">
								<!--<a href=""><i class="fa fa-clock-o"></i> Order Foods 24/7</a>
								<a href=""><i class="fa fa-phone"></i>061 9876 5432</a>-->
                                <marquee>You are at the home of the best <b>pies..</b></marquee>
							</div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- End navbar-collapse-->

            <div class="main_menu_bg" >
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand our_logo" href="#"><img src="{% static ''%}" alt="" /></a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >

                                    <ul class="nav navbar-nav navbar-right" >
                                        <style>

                                            </style><center>
                                                <div class="container1">
 {% for d in l_det %}
{% for a in r_det %}
{% if a.uid  == d.uid2 %}
                                            <a  class="booking" href="#"><font color=white>{{a.first_name}} ></font> </a>

                                            <ul>

                                                    <li><a class="booking" href="/user1/">home</a></li>
                                                    <li><hr></li>
                                                    <li><a class="booking" href="/profile/">Profile</a></li>
                                                    <li><hr></li>
                                                    <li><a class="booking" href="/cart/">cart</a></li>
                                                    <li><hr></li>
                                                    <li><a class="booking" href="#">Orders</a></li>
                                                    <li><hr></li>
                                                    <li><a class="booking" href="/e_profile/{{a.uid}}">Edit Profile</a></li>
                                                    <li><hr></li>
                                                    <li><a class="booking" href="/cpass/">Change Password</a></li>
                                                    <li><hr></li>
                                                    <li><a class="booking" href="/logout/">Logout</a></li><hr>
                                                </center>
                                                </ul>
                                            </div>
  {% endif %}
    {% endfor %}
   {% endfor %}

                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <section id="slider" class="slider" >
            <div class="slider_overlay">
                <div class="container">
                    <div class="row"><center>
                        <div class="main_slider text-center">
                            <div class="col-md-12">
                                <div class="main_slider_content wow zoomIn" data-wow-duration="1s">
                                    <h1>Are U Hungry ?</h1>
                                    <h4><i>"We will give you an eating experience that you will never forgot"</i> </h4>
                                    <!-- <button href="" class="btn-lg">Click here</button>-->
                                </div>
                            </div>	
                        </div>
                        </center>
                    </div>
                </div>
            </div>
        </section>

<section id="portfolio" class="portfolio" >
    <div style="background-color:rgba(255, 255, 255, 0.548);">
            <div class="container">
                <div class="row">
                    <div class="portfolio_content text-center  wow fadeIn" data-wow-duration="5s">
                        <div class="col-md-12">
                            <div class="head_title text-center">
                                <br>
                                <h1> <i>Special</i></h1>
                                <h3>Items</h3>
                            </div>
                            {% for s in s_det %}
                            <div class="main_portfolio_content">
                                <div class="col-md-4 col-sm-4 col-xs-6 single_portfolio_text">
                                    <img src="{{ s.image.url }}"  alt="" />
                                    <div class="portfolio_images_overlay text-center">
                                        <h6>{{s.item}}</h6>
                                        <p class="product_price">rs.{{s.price}}</p>
                                        <a href="" class="btn btn-primary">add to cart</a>
                                    </div>
                                </div>
                               

                            </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
        <section id="ourPakeg" class="ourPakeg"> 
            <div style="background-color: rgba(0, 0, 0, 0.404);">

            <div class="container">
                <div class="main_pakeg_content">
                    <div class="row">
                        <div class="head_title text-center">
                            <h4>Amazing</h4>
                            <h3>Delicious</h3>
                        </div>
                        </div>
                        <center>
                    <div class="row">
                   <form action="" method="POST" >{% csrf_token %}
                    <input type = "text" placeholder="search type" name="fil_item" >&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
                    <select name="fil_type" class="mySelect">
							<option  selected value="null"><small>select  type</small></option>
							{% for a in t_det %}
							<option value ='{{a.Type_id}}'><small><font color="black">{{a.type}}</font> </small></option>

                             {% endfor %}
                           </select> &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp 
                           <input type="submit" value ="search" class="btn btn-primary">
                    </form>
                 </div></center>
                 <br><br>
                 
                {% for i in i_det %}
                <div class="main_portfolio_content">
                    <div class="col-md-3 col-sm-4 col-xs-6 single_portfolio_text">
                        <div style="width:200px;height:200px;">
                        <img src="{{ i.image.url }} " height=200px width=200px alt="" />
                        <div class="portfolio_images_overlay text-center">
                            <h6><i>{{i.item}}</i></h6>
                            <p class="product_price">rs.<i>{{i.price}}</i></p>
                            <a href=/cart/{{i.Items_id}} class="btn btn-primary">add to cart</a>
                        </div>
                        </div>
                    </div>
                   

                </div>
                {% endfor %}
                

                </div>
                


            </div>
            </div>
        </section>

        


<div id="dropDownSelect1">
<!--Footer-->
        <footer id="footer" class="footer" >
            <div class="container text-center" >
                <div class="row">
                    <div class="col-sm-12">
                        <div class="copyright wow zoomIn" data-wow-duration="3s">
							<p>Made with <i class="fa fa-heart"></i> by Amal Jyothi College of engineering ,Kanjirappallly</p>
						</div>
                    </div>
                </div>
            </div>
        </footer>

		<div class="scrollup">
			<a href="#"><i class="fa fa-chevron-up"></i></a>
		</div>
    </div>






<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script></div>




        <script src="{% static 'assets/js/vendor/jquery-1.11.2.min.js'%}"></script>
        <script src="{% static 'assets/js/vendor/bootstrap.min.js'%}"></script>

        <script src="{% static 'assets/js/jquery-easing/jquery.easing.1.3.js'%}"></script>
        <script src="{% static 'assets/js/wow/wow.min.js'%}"></script>
        <script src="{% static 'assets/js/plugins.js'%}"></script>
        <script src="{% static 'assets/js/main.js'%}"></script>
    </body>
</html>